// ===========================================
//  BREADCRUMB COMPONENT
// ===========================================

.breadcrumb {
  font-size: 12px;
}

.breadcrumb-item > a {
  color: #667382;
}

.breadcrumb-item > a.disabled {
  cursor: unset;
  text-decoration: none;
}

.breadcrumb-item.active > span {
  color: #972081;
}
