// ===========================================
//  COLLAPSE COMPONENT
// ===========================================

.section-btn {
    width: 100%;
}

.field-header {
    background-color: #1e293b;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.6;
    color: #626976;
}
