// ===========================================
//  COLLAPSE COMPONENT
// ===========================================

.section-btn {
  background-color: #182433;
  color: $white;
  width: 100%;
}

.section-btn.not-collapsed {
  text-decoration: solid underline $ocs-purple .2rem;
}

.section-btn:hover {
  background-color: #182433;
  color: $white;
  text-decoration: solid underline $ocs-purple .2rem;
  width: 100%;
}

.field-header {
  background-color: #1e293b;
  color: #626976;
  font-weight: 600;
  letter-spacing: .04em;
  line-height: 1.6;
  text-transform: uppercase;
}

#IpdiscoverCollapse > .accordion > .card, 
#IpdiscoverCollapse > .accordion > .card > .card-header,
#SectionCollapse > .accordion > .card, 
#SectionCollapse > .accordion > .card > .card-header {
  border: 0;
}

.section-table-title {
  text-align: center;
}

.section-table-btn > .btn-toolbar {
  display: block;
  text-align: center;
  margin: auto;
}

.section-table-options {
  margin-bottom: 0;
}
