// ===========================================
//  COLLAPSE COMPONENT
// ===========================================

.section-btn {
  width: 100%;
}

.field-header {
  background-color: #1e293b;
  color: #626976;
  font-weight: 600;
  letter-spacing: .04em;
  line-height: 1.6;
  text-transform: uppercase;
}
