// ===========================================
//  HEADER COMPONENT
// ===========================================

.logo-size {
  height: 50px;
  width: 120px;
}

#setting-dropdown > ul {
  right: 0;
}

a {
  align-items: center;

  > span > .icon-group {
    padding-bottom: 5px;
  }
}

button.dropdown-item {
  > p {
    margin-bottom: 0;
  }

  > svg {
    margin-right: 7px;
  }
}

[data-bs-theme=dark] .navbar-brand-autodark .navbar-brand-image {
  filter: none;
}