// ===========================================
//  HEADER COMPONENT
// ===========================================

.logo-size {
    width: 120px;
    height: 50px;
}

#setting-dropdown > ul {
    right: 0;
}

a {
    align-items: center;

    > span > .icon-group {
        padding-bottom: 5px;
    }
}