// ===========================================
//  MODALS COMPONENT
// ===========================================

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px !important;
  }
}

.custom-modal {
  .modal-body > form > .row {
    padding: 5px !important;
  }

  .form-control {
    border-left: none !important;
    border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
    box-shadow: none !important;
  }

  h4 {
    margin-top: 10px !important;
  }
}
