// ===========================================
//  SEARCH COMPONENT
// ===========================================

.multisearch-card {
  background-color: $gray-200;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.multisearch-btn {
  margin-right: 5px;
}

.multisearch-btns {
  margin-bottom: 20px;
}

.btn-save-search {
  margin-right: 5px;
}

.div-save-search {
  margin-bottom: 5px;
}