// ===========================================
//  NAVLINK COMPONENT
// ===========================================

.active > a {
  //color: #972081 !important;
}

.navbar-expand-md .nav-item.active::after {
  border-color: #972081;
}

.nav-link-title {
  padding-top: 5px;
}

.dropdown-header {
  color: $white;
  text-decoration: solid underline #972081 .2rem;

  > header {
    padding-left: 0 !important;
  }
}

.dropdown-toggle::after {
  border-right: 0;
  border-top: 0;
}

.dropdown-divider {
  margin: 0;
}

@media (max-width: 767.98px) {
  .navbar-expand-md .navbar-collapse .dropdown-menu {
    padding: 0;
    background: 0 0;
    position: static !important;
    color: inherit;
    box-shadow: none;
    border: none;
    min-width: 0;
    margin: 0;
    transform: none !important;
  }
}


