// ===========================================
//  NAVLINK COMPONENT
// ===========================================

.active > a {
  //color: #972081 !important;
}

.navbar-expand-md .nav-item.active:after {
  border-color: #972081;
}

.dropdown-header > header {
  padding-left: 0 !important;
}

.nav-link-title {
  padding-top: 5px;
}

.dropdown-header {
  color: white;
  text-decoration: underline;
  text-decoration-color: #972081;
  text-decoration-thickness: 0.2rem;
}

.dropdown-toggle:after {
  border-top: none;
  border-right: none;
}