// ===========================================
//  SIDEBAR
// ===========================================

.logo {
  font-size: 18px;
  font-weight: $font-weight-normal;
  margin: 15px 0;
  text-align: center;
  text-shadow: 4px 4px 15px rgb(92, 176, 255 / 60%);
  text-transform: uppercase;
  transition: width $sidebar-transition-time ease-in-out;
  width: 100%;

  a {
    color: var(--logo-color);
    padding: 0 6px;
    text-decoration: none;
    white-space: nowrap;
  }

  .secondary-word {
    opacity: 1;
    transition: all $sidebar-transition-time;
  }

  .primary-word {
    color: var(--logo-color);
    font-weight: $font-weight-normal;
  }
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: $transition-base;
  width: $sidebar-width-open;

  a:hover {
    color: $white;
    text-decoration: none;
  }

  .nav {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
    width: 100%;
  }
}

.sidebar-wrapper {
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: width $sidebar-transition-time ease-in-out, left $sidebar-transition-time ease-in-out;
  width: $sidebar-width-open;

  @include sidebar-scrollbar();
}

.sidebarclose .sidebar-wrapper {
  width: $sidebar-width-closed;

  @include media-breakpoint-down(sm) {
    width: 0;
  }
}

.sidebarstatic .sidebar-wrapper {
  width: $sidebar-width-open;
}

.sidebarclose .logo {
  margin-left: 8px;
  width: $sidebar-width-closed;

  .secondary-word {
    opacity: 0;
  }
}

.sidebarstatic .logo {
  transition: none;
  width: 100%;

  .secondary-word {
    opacity: 1;
  }
}

.sidebarclose .labelname {
  opacity: 0;
}

.sidebarstatic .labelname {
  opacity: 1;
  transition: none;
}
