.title {
  color: $widget-title-color;
  margin-top: 0;

  @include clearfix();
}

.widget {
  background: $widget-bg-color;
  border-radius: $border-radius-sm;
  box-shadow: var(--widget-shadow);
  display: block;
  margin-bottom: $grid-gutter-width;
  padding: $widget-padding-vertical $widget-padding-horizontal;
  position: relative;

  &.loading {
    min-height: 150px;
  }

  [control='collapse'] {
    display: unset;
  }

  [control='expand'] {
    display: none;
  }

  [control='fullscreen'] {
    display: unset;
  }

  [control='restore'] {
    display: none;
  }

  &.collapsed {
    min-height: unset;

    [control='collapse'] {
      display: none;
    }

    [control='expand'] {
      display: unset;
    }
  }

  &.fullscreened {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;

    [control='fullscreen'] {
      display: none;
    }

    [control='restore'] {
      display: unset;
    }
  }

  > header {
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
    padding: $widget-padding-vertical $widget-padding-horizontal;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .widget-body.p-0 + footer {
      margin-top: $widget-padding-vertical;
    }
  }

  .loader {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .spinner {
      font-size: 20px;
      margin-top: -10px;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%; //ie fix
    }
  }

  .widget-body.p-0 {
    margin: $widget-padding-vertical (-$widget-padding-horizontal) (-$widget-padding-vertical);
  }


  &.bg-transparent {
    box-shadow: none;
  }
}

.widgetbody {
  @include clearfix();

  > footer {
    margin: $spacer / 2 (-$widget-padding-horizontal) (-$widget-padding-vertical);
    padding: 10px 20px;
  }
}

.widgetcontrols {
  font-size: $font-size-sm;
  padding: 14px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  a {
    border-radius: 4px;
    color: rgba($black, .4);
    padding: 1px 4px;

    @include transition(color .15s ease-in-out);

    &:hover {
      color: rgba($black, .1);
      text-decoration: none;
    }

    .la {
      position: relative;
      top: 2px;
    }
  }

  + .widgetbody {
    margin-top: $widget-padding-vertical;
  }
}

.inverse {
  margin-left: 3px;
  position: relative;
  top: 2px;
}

.widget-image {
  border-radius: $border-radius;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
  overflow: hidden;
  position: relative;

  > img {
    border-radius: $border-radius $border-radius 0 0;
    max-width: 100%;
    transition: transform .15s ease;
  }

  .title {
    left: 0;
    margin: 20px;
    position: absolute;
    top: 0;
  }

  .info {
    margin: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  > img:hover > img {
    transform: scale(1.1, 1.1);
  }
}

.widget-top-overflow, .widget-middle-overflow {
  margin: 0 (-$widget-padding-horizontal);
  position: relative;

  > img {
    max-width: 100%;
  }
}

.widget-top-overflow {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  margin-top: (-$widget-padding-vertical);
  overflow: hidden;

  > img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  > .btn-toolbar {
    margin-right: $widget-padding-horizontal;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @include media-breakpoint-up(md) {
      bottom: 0;
      top: auto;
    }
  }
}

.widget-footer-bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.widget-sm {
  height: 230px;
}

.widget-md {
  height: 373px;
}

.widget-padding-md {
  padding: $widget-padding-vertical $widget-padding-horizontal;
}

.widget-padding-lg {
  padding: $widget-padding-vertical * 2 $widget-padding-horizontal * 2;
}

.widget-body-container {
  height: 100%;
  position: relative;
}

.widget-icon {
  display: inline-block;
  font-size: 42px;
  height: 60px;
  line-height: 45px;
}


.widget-loader {
  left: 0;
  position: absolute;
  top: 0;
}
