// ===========================================
//  ALERT COMPONENT
// ===========================================

.alert > .row > .col-1 {
  align-items: center;
  display: flex;
  margin-right: 5px;
  min-width: 30px;
}

.alert-danger {
  background-color: #f8d7da;
  border: 0;
  color: #721c24;

  .alert-icon {
    color: #721c24;
  }

  .alert-description {
    color: #a82936;
    margin-bottom: .25rem;
  }
}

.alert-warning {
  background-color: #fff3cd;
  border: 0;
  color: #856404;

  .alert-icon {
    color: #856404;
  }

  .alert-description {
    color: #9e7805;
  }
}

.alert-success {
  background-color: #d4edda;
  border: 0;
  color: #155724;

  .alert-icon {
    color: #155724;
  }

  .alert-description {
    color: #208337;
  }
}

.alert-info {
  background-color: #d1ecf1;
  border: 0;
  color: #0c5460;

  .alert-icon {
    color: #0c5460;
  }

  .alert-description {
    color: #127e91;
  }
}

.alert-message {
  white-space: pre-wrap;
  word-break: break-word;
}

.danger-btn {
  border: 0;
}
