// ===========================================
//  DATATABLE COMPONENT
// ===========================================

tbody, td, tfoot, th, thead, tr {
  border-color: #f2f3f4;
}

.my-pagination {
  float: right;
}

.input-icon-addon:last-child {
  right: 7px;
}

.ocs-link {
  color: $ocs-purple;
  font-weight: 500;
}

.active>.page-link, .page-link.active {
  background-color: $ocs-purple;
  border-color: $ocs-purple;
}

#show-hide {
  margin-bottom: 7px;
  margin-top: 7px;
}

.datatable-btn {
  height: 36px;
  margin-bottom: 7px;
  margin-top: 7px;
}

.datatable-btn-maxsize {
  max-width: 48px;
}

#per-page-select {
  max-width: 100px;
}

.btn-group, .btn-group-vertical {
  box-shadow: none;
}

.markdown>table thead th, .table thead th {
  background: #f0f0f0;
}

.ocs-col-datatable {
  width: 60px;
}

@media (max-width: 767.98px) {
  .responsive {
    display: block;

    > .col {
      display: grid;
    }

    > .col-1, > .col-2, .mr-1 {
      width: 100%;
    }
  }

  .datatable-btn-maxsize, .mr-1 > div {
    max-width: 100%;
    width: 100%;
  }

  #per-page-select {
    max-width: 100%;
  }
}
