// ===========================================
//  MATRIX COMPONENT
// ===========================================

.table-fix-head {
  max-height: 46vh;
  overflow: auto;

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
