// ===========================================
//  MATRIX COMPONENT
// ===========================================

.table-fix-head {
  overflow: auto;

  thead th {
    position: sticky;
    top: -25px;
    z-index: 1;
  }
}
