// ===========================================
//  MODAL COMPONENT
// ===========================================

.modal-header {
  justify-content: space-between;
  padding: 0 1rem;
}

.btn-modal {
  margin-bottom: 10px;
}
