// ===========================================
//  NAVLINK COMPONENT
// ===========================================
.navbar-nav .nav-item {
  --tblr-navbar-active-border-color: transparent;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

a.nav-item.router-link-exact-active.router-link-active,
a.nav-link-title.router-link-exact-active.router-link-active {
  text-decoration: solid underline #972081 .2rem;

  .nav-link-icon {
    color: #ffffffcc;
  }
}

.nav-link-title {
  color: #fff;
  padding-top: 5px;
}

.nav-link-title:hover, .nav-item:hover,
.nav-link-icon:hover, .btn-link:hover,
.nav-link-icon {
  color: #ffffffcc;
  text-decoration: none;
}

.dropdown-menu-column > div {
  margin: 3px 0 0 10px;
}

.dropdown-header {
  color: $white;
  text-decoration: solid underline #972081 .2rem;

  > header {
    padding-left: 0 !important;
  }
}

.dropdown-toggle::after {
  border-right: 0;
  border-top: 0;
}

.dropdown-divider {
  margin: 0;
}

.locale-switcher {
  padding-top: 5px;
}

.card-body+.card-body {
  border-top: 0;
}

.card-header {
  border-bottom: 0;
}

.sticky-tabs {
  height: 73vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.card-header-tabs .nav-link.active {
  background-color: #182433;
  color: $white;
  text-decoration: solid underline #972081 .2rem;
  width: 100%;
}

@media (max-width: 767.98px) {
  .navbar-expand-md .navbar-collapse .dropdown-menu {
    background: 0 0;
    border: 0;
    box-shadow: none;
    color: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: static !important;
    transform: none !important;
  }

  .navbar .navbar-nav {
    align-items: unset;
  }

  .sticky-tabs {
    height: unset;
    overflow-y: unset;
    position: inherit;
  }
}
