// ===========================================
//  RULE COMPONENT
// ===========================================
.ocs-span {
  font-size: 13px;
  height: 39px;
  margin-bottom: 7px;
  padding: 11px;
}
