// ===========================================
//  LOGIN PAGE
// ===========================================

.auth-page {
  padding-top: 15%;

  .form-login {
    padding-top: 5%;
  }

  .auth-btn {
    background-color: $ocs-black;
    border-color: $ocs-black;
    color: $white;
  }
}

@media (max-width: 767.98px) {
  .auth-page > .row {
    display: block;
    text-align: center;
  }

  .auth-page > .row > .col-4 {
    margin: auto;
    width: 50%;
  }
}
