// ===========================================
//  CONFIGURATION PAGE
// ===========================================

.input-group {
  box-shadow: none;
}

.ocs-config-form {
  width: 35%;
}

.list-group-item {
  border: 0;
}
