// ===========================================
//  DASHBOARD
// ===========================================

.vue-grid-item {
  background-color: $white;
  box-shadow: 0 0 4px var(--box-shadow-color);
  display: grid;
  font-size: 10pt;
  grid-template-rows: 64px auto auto;
  padding: 5px;

  .vue-grid-placeholder {
    background: $grey;
    opacity: .2;
    transition-duration: 100ms;
    user-select: none;
    z-index: 2;
  }
}
