// ===========================================
//  ERROR PAGE
// ===========================================

.error-page {
  background-color: $body-bg;
  height: 100%;
  padding-top: 5%;

  .errorcontainer {
    text-align: center;
    width: 365px;
  }

  .errorbtn {
    padding-left: 35px;
    padding-right: 35px;

    .la-search {
      color: var(--light-color);
    }
  }

  .errorcode {
    color: $primary;
    font-size: 80px;
    font-weight: $font-weight-normal;
    margin: 20px;

    @include media-breakpoint-up(md) {
      font-size: 180px;
    }
  }

  .errorinfo {
    color: $gray-800;
    font-size: 20px;
  }

  .errorhelp {
    font-size: 14px;
  }

  .pagefooter {
    bottom: 30px;
    color: $text-muted;
    font-size: $font-size-mini;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
  }
}
