// ===========================================
//  LOGIN PAGE
// ===========================================

.auth-page {
  padding-top: 15%;

  .form-login {
    padding-top: 5%;
  }

  .auth-btn {
    background-color: $ocs-black;
    border-color: $ocs-black;
    color: $white;
  }
}
