/**
 *============================================
 * Customized theme for OCS reports
 *============================================
 */

/**
 *===========================================
 * GENERAL
 *===========================================
 */

html {
    font-weight: 100;
    font-size: $font-size-initial;
    overflow: hidden;
}

body {
    overflow-x: hidden;
    color: $text-color;
}

html,
body,
#app {
    height: 100%;
}

a,
.dropdown-item,
.btn {
    cursor: pointer;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    font-family: $font-family-base;
}

th {
    font-weight: 600;
}

label {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

ul ul,
ol ul {
    list-style: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

/**
 *===========================================
 * LOGIN PAGE
 *===========================================
 */

 // Page
.auth-page {
    padding-top: 10vh;
    height: 100vh;
}

.widget-auth {
    max-width: 360px;
    padding: 30px !important;

    .widget-auth-info {
        font-size: 13px;
        color: #888;
        margin-bottom: 0;
        text-align: center;
    }

    // Login button
    .auth-btn {
        width: 100%;
        background-color:#20222e!important;
        color: white!important;
        margin-top: 20px;
    }

    .auth-btn:hover {
        background-color:#961b7e!important;
        color: white!important;
        border-color: #961b7e!important;
    }

    // Logo
    .logo {
        margin-bottom: 20px;
    }

    // Form input
    .login-form-group {
        margin-top: 10px;
    }
}

// Footer
.auth-footer {
    margin-bottom: 25px;
    font-size: 13px;
    color: #636c72;
    text-align: center;

    @media (min-height: 600px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/**
 *===========================================
 * HEADER
 *===========================================
 */

.app-header.navbar {
    height: $navbar-height;
    z-index: 100;
    padding: 0 1.85rem 0;
    background: var(--navbar-bg);
    box-shadow: var(--navbar-shadow);
    transition: $transition-base;
    border: none;
    font-weight: 500;
    justify-content: flex-start;

    .nav {
        height: 100%;
        padding: 0;

        .nav-item {
            .nav-link, .nav-link > a {
                display: flex;
                align-items: center;
                height: 100%;
                position: relative;
                padding: 0.5rem;
                color: $navbar-link-color;

                @include hover {
                    color: $navbar-link-hover-color;
                    background: $navbar-link-hover-bg;
                    text-decoration: none;
                }

                .la {
                    font-size: 20px;

                    @include media-breakpoint-down(sm) {
                        font-size: 27px;
                    }
                }
            }
        }
    }

    &.header-dark {
        .nav {
            .nav-item {
                .nav-link, .nav-link > a {
                    color: $white;

                    @include hover {
                        color: rgba($white, 0.7);
                    }
                }
            }
        }

        input::placeholder {
            color: rgba($white, 0.7);
        }

        .navbarBrand {
            color: $white;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0 $spacer/2;
    }

    .navbarBrand {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 1.25rem;
        pointer-events: none;

        svg {
            font-size: 10px;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .settingsDropdown {
        .dropdown-item:focus {
            outline: none;
        }
        ul {
            width: 12rem;
            li {
                padding: 4px 0;
            }
        }
    }
}

/**
 *===========================================
 * SIDEBAR
 *===========================================
 */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width-open;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-color);
    transition: $transition-base;
    height: 100%;

    a:hover {
        text-decoration: none;
        color: $white;
    }

    .nav {
        width: 100%;
        padding-bottom: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        //background-color: var(--sidebar-bg-color);
    }
}

.sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: $sidebar-width-open;
    transition: width $sidebar-transition-time ease-in-out, left $sidebar-transition-time ease-in-out;

    @include sidebar-scrollbar();
}

.sidebarClose .sidebar-wrapper {
    width: $sidebar-width-closed;

    @include media-breakpoint-down(sm) {
        width: 0;
    }
}

.sidebarStatic .sidebar-wrapper {
    width: $sidebar-width-open;
}

.logo {
    margin: 15px 0;
    font-size: 18px;
    width: 100%;
    font-weight: $font-weight-normal;
    text-align: center;
    transition: width $sidebar-transition-time ease-in-out;
    text-shadow: 4px 4px 15px rgba(92, 176, 255, 0.6);
    text-transform: uppercase;

    a {
        color: var(--logo-color);
        padding: 0 9px;
        text-decoration: none;
        white-space: nowrap;
    }
    .secondary-word {
        opacity: 1;
        transition: all $sidebar-transition-time;
    }
    .primary-word {
        color: var(--logo-color);
        font-weight: $font-weight-normal;
    }
}


.sidebarClose .logo {
    width: $sidebar-width-closed;
    .secondary-word {
        opacity: 0;
    }
}

.sidebarStatic .logo {
    width: 100%;
    transition: none;
    .secondary-word {
        opacity: 1;
    }
}

.sidebarClose .labelName {
    opacity: 0;
}

.sidebarStatic .labelName {
    transition: none;
    opacity: 1;
}

/**
 *===========================================
 * NAVLINK
 *===========================================
 */

.headerLink {
    width: 100%;
    overflow-x: hidden;
  
    @media (min-width: map_get($grid-breakpoints, lg))
    and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
        font-size: 13px;
    }
  
    a {
        display: block;
        color: var(--sidebar-color-item);
        text-decoration: none;
        cursor: pointer;
    }
  
    &:last-child > a {
        border-bottom: 1px solid $sidebar-item-border-color;
    }
  
    > a,
    > div a {
        align-items: center;
        position: relative;
        padding-left: 64px;
        line-height: 58px;
        border-top: 1px solid $sidebar-item-border-color;
        font-size: 14px;
        font-weight: $font-weight-normal;
    
    
        &:hover {
            background-color: var(--sidebar-item-hover-bg-color);
        }
    
        > i {
            margin-right: 7px;
        }
    }
  
    .icon {
        font-size: $font-size-larger;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3px;
        left: 16px;
        width: 32px;
        height: 32px;
        line-height: 28px;
        text-align: center;
    
        @media (min-width: map_get($grid-breakpoints, lg))
        and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
            top: 12px;
        }
    }
  
    .badge {
        float: right;
        line-height: 8px;
        margin-top: 6px;
        margin-right: 15px;
        padding: 7px;
        background: var(--sidebar-badge-bg);
    
        @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
            margin-top: 16px;
        }
    }
  
    .collapse > ul > li a {
        padding-left: 50px;
    }
}
  
.headerLabel {
    font-weight: 600;
}

.caretWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 22px;
    color: #961b7e;

    svg {
        @include transition(transform 0.3s ease-in-out);
    }
}
.caretWrapper svg {
    font-size: $font-size-larger;
}
.carretActive svg {
    transform: rotate(90deg);
}

a.router-link-active {
    color: var(--sidebar-item-active);
    font-size: $font-size-larger;
    font-weight: $font-weight-semi-bold;

    .icon {
        border-radius: 50%;
        background-color: var(--sidebar-item-active-bg);

        i {
            color: var(--sidebar-icon-active);
        }
    }
}

.collapse,
.collapsing {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;

    a {
        line-height: 20px !important;

        &.router-link-active {
            font-weight: $font-weight-semi-bold;
            color: var(--sidebar-color);
        }
    }

    ul {
        background: var(--sidebar-action-bg);
        padding: $spacer;

        li {
            list-style: none;
        }

        a {
            padding: 10px 20px 10px 26px;
            font-size: $font-size-mini;

            &:hover {
                background-color: var(--sidebar-item-hover-bg-color);
            }
        }
    }
}

/**
 *===========================================
 * ERROR PAGE
 *===========================================
 */

.error-page {
    padding-top: 5%;
    background-color: $body-bg;
    height: 100%;

    .errorContainer {
        width: 365px;
        text-align: center;
    }

    .errorBtn {
        padding-left: 35px;
        padding-right: 35px;

        .la-search {
            color: var(--light-color);
        }
    }

    .errorCode {
        margin: 20px;
        font-size: 80px;
        font-weight: $font-weight-normal;
        color: $primary;

        @include media-breakpoint-up(md) {
            font-size: 180px;
        }
    }

    .errorInfo {
        font-size: 20px;
        color: $gray-800;
    }

    .errorHelp {
        font-size: 14px;
    }

    .pageFooter {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        width: 100%;
        font-size: $font-size-mini;
        color: $text-muted;
        text-align: center;
    }
}

/**
 *===========================================
 * DATATABLE
 *===========================================
 */

// Page
#Datatable {
    -webkit-box-shadow: 0 0 4px #b6b5b5;
    box-shadow: 0 0 4px #b6b5b5;
    font-size: 10pt;
    display: grid;
    grid-template-rows: 64px auto auto;
    padding: 4px;
}

// Table
.header-table {
    width: 100%;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

table > thead > tr > th {
    border-top: none !important;
    border-bottom-width: 1px !important;
    text-transform: uppercase;
}


thead {
    color: rgba(0,0,0,.5);
    font-size: 10pt;
    font-weight: lighter;
}

// Search bar
.input-filter {
    margin-left: 30%;
    margin-right: 30%;
}

.form-group {
    margin-bottom: 0!important;
}

// Export button
.export-btn,
.icon-btn
.input-group-text {
    color: #fff!important;
    background-color: #20222e!important;
    border-color: #20222e!important;
}

.export-btn:focus,
.export-btn:hover {
    color: #fff!important;
    background-color: #961b7e!important;
    border-color: #961b7e!important;
}

// Pagination
.pagination {
    font-weight: $font-weight-normal;

    > .page-item {
        display: inline; // Remove list-style and block-level defaults

        > .page-link,
        > span {
            border-radius: $border-radius;
            margin: 0 2px;
        }

        > .page-link {
            text-decoration: none;
            border: none;
        }
    }
}

.pagination-align {
    justify-content: flex-end;
}

.page-item.active
.page-link {
    background-color: #961b7e!important;
    border-color: #961b7e!important;
}

/**
 *===========================================
 * LOADER
 *===========================================
 */

.data-loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 21px;
        margin: 0 $spacer;
    }
}

/**
 *===========================================
 * DASHBOARD
 *===========================================
 */

.vue-grid-item {
	-webkit-box-shadow: 0 0 4px #b6b5b5;
    box-shadow: 0 0 4px #b6b5b5;
    font-size: 10pt;
    display: grid;
    grid-template-rows: 64px auto auto;
    padding: 5px;
	background-color: white;
}

.vue-grid-item.vue-grid-placeholder {
    background: grey;
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

