// ===========================================
//  OCSREPORTS THEME
// ===========================================

h4 {
  margin-top: 1rem;
}

.form-control {
  margin-bottom: 7px;
  margin-top: 7px;
}

.custom-control-label {
  margin-left: 5px;
}

.btn-link {
  color: unset;
}
