// ===========================================
//  OCSREPORTS THEME
// ===========================================

h4 {
  margin-top: 1rem;
}

.form-control {
  margin-bottom: 7px;
  margin-top: 7px;
}

.custom-control-label {
  margin-left: 5px;
}

.btn-link {
  color: unset;
}

.asset-btn {
  justify-content: flex-end;
}

.page-header {
  margin-top: 15px;
}

.vs__dropdown-toggle {
  background: $white !important;
  background-color: $white;
}

.ocs-menu-tab button {
  text-align: left;
  width: 100%;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1320px;
  }
}

@media (min-width: 1400px) {
  .container-xl {
    max-width: 1550px;
  }
}

.table-vcenter td {
  max-width: 260px;
  overflow-wrap: break-word;
}
